{#http://www.cssportal.com/css3-menu-generator/#}
{% extends 'ferreteriaZambranoBundle::layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/ferreteriaZambrano/css/inicio.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
    
            
            <div class="cuadro_bienvenida">
                <div class="informacion">Bienvenido</div>
                <div class="sub_contenido">
                    <p><b>Gerente:</b> Fernando Zambrano</p>
                    <p><b>Direccion:</b> Cdla. Las Acacias</p>
                    <p><b>Contacto:</b> 5102946</p>
                </div>
            </div>
   
{% endblock %}
