/* 
    Document   : contenedor_cabecera
    Created on : 08/06/2013, 09:15:04 PM
    Author     : Antenas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#cabecera_color {
    border-bottom: solid #A3292F 5px;
    background: #585858;
    width: 75%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
}
#footer_color {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    top: auto;
    position: relative;
    background: #F2F2F2;
    clear: both;
}
footer {
    font-size: 0.8em;
    font-family: "Khmer UI";
    text-align: center;
    color: #333;
    width: 60em;
    bottom: 0;
    padding: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: url(../images/borde.png) repeat-x;
}
.contenedor {
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    position: relative;
    width: 80%;
}
#contenedor_fondo{
    background: none repeat scroll 0 0 #F2F2F2;
    margin: auto;
    padding: 20px 0;
    position: relative;
    width: 75%;
}
.titulo{
    color: white;
    display: inline-block;
    font-family: 'Raleway',cursive;
    font-weight: 100;
    margin: 0 0 0 5px;
    padding: 7px;
    text-transform: uppercase;
    width: auto;
}

.logo {
    background-image: url("../images/logo_ferreteria.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    margin-left: 3em;
    margin-top: 0;
    position: relative;
    width: 40px;
    float: left;
}
.logout{
    float: right;
    margin: 10px 50px;
}
.logout a{
    color: #FFFFFF;
    font-family: 'Raleway',cursive;
}